services:
  web:
    build: .
    expose:
      - "80"
    restart: unless-stopped
    labels:
      - "traefik.http.routers.catchall.rule=HostRegexp(`{host:.+}`)"
      - "traefik.http.routers.catchall.priority=1"
      - "traefik.enable=true"
